
/*.App{
  text-align: center;
}

input{
  display:none;
}


.chartContainer{
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  margin:30px auto;
  padding:20px;
}


#updateChartsBtn{
  margin:50px;
}


.Section{
  padding:20px;
}

#searchBar{
  border-radius: 5px;
  margin: auto;
}
*/
