
.App{
  text-align: center;
}

.Section{
  padding:20px;
}

.chartContainer{
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  margin:30px auto;
  padding:20px;
}

input{
  display:none;
}

#updateChartsBtn{
  margin:50px;
}

#searchBar{
  border-radius: 5px;
  margin: auto;
}
