
.App{
text-align: center;
}

#uploadBtn{
margin: 50px;
}

input{
  text-align: center;

}
#updateChartsBtn{
margin: 50px;
}

.chartContainer{
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  margin:30px auto;
  padding:20px;
}
